header(class="top-bar")
  div(class="")
    nav
      <a href="#"><i class="fi-list"></i> <span>Menu</span></a></li>
  div(class="")
    h1(class="top-bar-title") BEEHOLD
  div(class="")
    ul(class="search-bar")
      li
        input(type="search" placeholder="Search Tasks")
      li
        button(type="button") Search


