
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <form action="/login" method="post">
  <p>
    <label for="user-email">Email</label>
    <input id="user-email" name="email">
    <label for="user-password">Password</label>
    <input id="user-password" name="password" type="password">
    <button>Log in</button>
  </p>
</form>
    <h1>Hello World!</h1>
    <form action="/todo/create" method="post">
  <p>
    <label for="to_Do"> Add</label>
    <input id="to_Do" name="todo">
  </p>
  <button>Post</button>
</form>
  <div id="todos">  </div>
  </body>
</html>
