
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>planJot</title>

    <!-- external style sheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Alegreya|Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans" rel="stylesheet">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- internal style sheets -->
    <link rel="stylesheet" href="/styles/layout.css">

    <!-- scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/checkoff-todo.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
  </head>

  <body class="flex">
  <% if (userID) { %>
    <header id="user-header">
      <section id="nav">
          <div class="toggleButton">
          <i class="fas fa-pen-square" aria-hidden="true"></i>
          <!-- <p class="navP">+</p> -->
        </div>
        <h1>planJot</h1>
        <div class="logout">
          <form action="/logout" method="post">
            <button class="logoutbutton" type="submit">Log out</button>
          </form>

          <button id="updatetoggle"  class="update hidden"> Update </button>
          <div class="update hidden">
            <form action="/user/update" method="post" id="updateform">
              <label for="update-username">Username</label>
              <input id="update-username" name="username">
                <label for="update-password">Password</label>
              <input id="update-password" name="password" type="password">
              <button> Submit </button>
              <div class="update-error-message"></div>
            </form>
          </div>
        </div>
      </section>
      <div class="username">
          What do you want to do today <%= username %>?
      </div>
    </header>

    <div class="wrapper" id="logged-in">
      <main class="to-dos">
        <section class="new-todo">
          <!-- <h1>Hello World!</h1> -->
          <div class="infoForUser"></div>
          <form action="/todo/create" method="post" id="todoform">
            <textarea name="todo" placeholder="ToDo" class="textarea-new-todo"></textarea>
            <input type="submit" value="Add" class="submit-todo" id="to_Do">
          </form>
        </section>
        <section class="todo-container" id="todo-container">
          <!-- content goes here -->
          <div id="todos">  </div>
        </section>
      </main>
    </div>
    <div class="information-about information-from-api"></div>

    </div>

  <% } else { %>
    <div class="wrapper">
      <main>
        <header id="landing">
          <h1>planJot</h1>
          <h2>Leave your plans to This, so you can be with That</h2>
        </header>
        <section class="form" id="login-signup-forms">

          <ul class="tab-group flex">
            <li class="tab active"><a href="#register">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
          </ul>

          <div class="tab-content">
            <div id="register">
              <form action="/register" method="post" id="registerform" class="flex form">
                <!-- <label for="register-username">Username</label> -->
                  <input id="register-username" name="username" placeholder="Username">
                <!-- <label for="register-email">Email</label> -->
                  <input id="register-email" name="email" placeholder="Email">
                <!-- <label for="register-password">Password</label> -->
                  <input id="register-password" name="password" type="password" placeholder="Password">
                <button> Submit </button>
                <div class="reg-error-message"></div>
              </form>
            </div>
            <div id="login">
              <form action="/login" method="post" class="flex form">
                <!-- <label for="email">Email</label> -->
                <input id="email" name="email" placeholder="Email">
                <!-- <label for="password">Password</label> -->
                <input id="password" name="password" type="password" placeholder="Password">
                <button>Log in</button>
              </form>
            </div>
          </div>
        </section>
      </main>
    </div>
  <% } %>
  </body>
</html>
