
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beholder</title>

    <!-- external style sheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <!-- internal style sheets -->
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/new-todo.css">

    <!-- scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/checkoff-todo.js"></script>
  </head>

  <body>

    <main class="container center-me">
      <div class="wrapper">
        <div class="infoForUser"></div>
        <section class="new-todo">
          <!-- <h1>Hello World!</h1> -->
          <form action="/todo/create" method="post" id="todoform">
            <textarea name="todo" placeholder="ToDo" class="textarea-new-todo"></textarea>
            <input type="submit" value="Add" class="submit-todo" id="to_Do">
          </form>
        </section>
      </div>
      <section class="todo-container-class" id="todo-container">
        <!-- content goes here -->
        <div id="todos">  </div>
      </section>
    </main>
   <nav id="nav-bar">
    <span class="header">BEHOLDER</span>
    <div class="toggleButton">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <p class="navP">+</p>
    </div>
        <div class="login">
          <form action="/login" method="post">
            <p>
            <label for="email">Email</label>
            <input id="email" name="email">
              <label for="password">Password</label>
            <input id="password" name="password" type="password">
            <button>Log in</button>
            </p>
          </form>
        </div>
    </nav>
  </body>
</html>
