
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beholder</title>

    <!-- external style sheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.css">

    <!-- internal style sheets -->
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/new-todo.css">

    <!-- scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/checkoff-todo.js"></script>
  </head>

  <body class="scrollbar force-overflow style-15">
    <div id="wrapper">
    <main class="container center-me">
      <div class="wrapper">
        <section class="new-todo">
          <!-- <h1>Hello World!</h1> -->
        <div class="infoForUser"></div>
          <form action="/todo/create" method="post" id="todoform">
            <textarea name="todo" placeholder="ToDo" class="textarea-new-todo"></textarea>
            <input type="submit" value="Add" class="submit-todo" id="to_Do">
          </form>
        </section>
      </div>
      <section class="todo-container-class" id="todo-container">
        <!-- content goes here -->
        <div id="todos">  </div>
      </section>
    </main>
    <div class="information-from-api"></div>
   <nav id="nav-bar">
    <span class="header">BEHOLDER</span>
    <div class="toggleButton">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <p class="navP">+</p>
    </div>

  <% if (userID) { %>

  <div class="username">
    What do you want to do today <%= username %>?
  </div>

      <div class="logout">
          <form action="/logout" method="post">
            <button class="logoutbutton" type="submit">Log out</button>
          </form>

      </div>

      <% } else { %>

        <div class="login">
          <form action="/login" method="post">
            <p>
            <label for="email">Email</label>
            <input id="email" name="email">
              <label for="password">Password</label>
            <input id="password" name="password" type="password">
            <button>Log in</button>
            </p>
          </form>

           <% } %>

        </div>
    </nav>
  </body>
  </div>
</html>
