// - Color Scheme
$blue:rgb(26,83,92);
$tealB:rgb(78,205,196);
$white:rgb(247,255,247);
$red:rgb(255,107,107);
$yellow:rgb(255,230,109);

// - Fonts
$heading-base-font:serif;
$heading:'Alegreya';
$heading-font-family: $heading, $heading-base-font;
$body-base-font:sans-serif;
$body:'Lato';
$body-font-family:$body, $body-base-font;
$heading-base-font:serif;
$heading:'Alegreya';
$heading-font-family: $heading, $heading-base-font;
$body-base-font:sans-serif;
$body:'Lato';
$body-font-family:$body, $body-base-font;

$josefin: 'Josefin Sans', sans-serif;
$amatic: 'Amatic SC', cursive;

// - Border Radius
$br: 8px;