#login-signup-forms{
  background:rgba($blue,.5);
  max-width:600px; width:100vw;
  border-radius:$br;
  border:solid $white;
  box-shadow:0 4px 10px 4px rgba(0,0,0,.5);
  padding-bottom:40px;
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  @include justify-content(space-between);
  .tab {
    width: 50%;
    text-align: center;
    background: rgba($white, 1);
    transition:.5s ease-in-out;
    & a{
      color:$blue;
      display:block;
      text-decoration:none;
      font-size:1.5rem;
      line-height:2.5;
      cursor:pointer;
    }
    &:hover {
      background: rgba($white, 0.35);
      & a{
        color:$white;
      }
    }
  }
  .active{
    background:rgba($white, 0.35);
    color:$white;
    & a{
      color:$white;
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#login-signup-forms .tab-content{
  padding: 0 40px;

  & > div:last-child {
    display:none;
  }

  .form{
    @include flex-direction(column);
    & *{transition:.25s ease-in-out;}
    & input, & button{
      font-size:1.3rem;
      padding: .4em;
    }
    input{
      border-radius:$br - 4;
      margin: 5px 0;
      background: none;
      color: $white;
      border: 2.35px solid $white;

      &:focus{
        background:rgba($white, 1);
        color:$blue;
      }
    }
    button{
      margin-top:2.5px;
      cursor: pointer;
      font-weight: bold;
      &:hover{
        background:rgba($white, .5);
        color:$white;
      }
    }
  }

}
