 #nav-bar {
    position: fixed;
    height: 50px;
    background-color: #3a3a3a;
    color: black;
    left: 0px;
    right: 0px;
    padding-bottom: 10px;
    font-size: 60px;
    top: 0px;
    height: 80px;
}

#nav-bar .header {
    line-height: 80px;
    margin: 20px;
    color: pink;
}

.toggleButton {
    color: pink;
    position: relative;
    left: 1090px;
    top: -34px;
    font-size: 80px;
}

.fa-pencil-square-o {
    position: absolute;
    top: 15px;
    left: 8px;
}

.navP {
    position: absolute;
    top: -6px;
    left: 110px;

}

.toggleButton:hover {
    background-color: white;
    color: black;
}

.login {
position: absolute;
font-size: 16px;
color: white;
right: 25px;
top: 12px;
}

.logoutbutton {
    font-size: 16px;
    position: absolute;
    right: 36px;
    top: 9px;
    width: 87px;
}

.username {
    color: white;
    font-size: 35px;
    position: absolute;
    left: 400px;
    top: 20px;
}

.update {
    font-size: 16px;
    position: absolute;
    right: 600px;
    top: 150px;
    width: 250px;
    color: white;
    background-color: rgba(118, 6, 40, 0.9);
    height: 200px;
    padding: 20px;
    box-shadow:10px 10px 20px black;
}

.hiddenupdate {
    display: hidden;
}

#updatetoggle {
    font-size: 16px;
    position: absolute;
    right: 36px;
    top: 42px;
    width: 87px;
}






