@import "partials/base";
@import "partials/flex";

@import "partials/header";
@import "partials/forms";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  // font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $heading-font-family;
}

/*
 * Global layout stuff
 */
html, body {
    height: 100%;
}

body {
  margin: 0;
  color: $white;
  background-color: $white;
  font-family: $body-font-family;

  &, .wrapper main{@include flex-direction(column);}

  .wrapper{
    height: inherit;
    @include justify-content(center);
    background-image: linear-gradient(
        rgba($blue, 0.45),
        rgba($blue, 0.45)
      ),url('../images/bg1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &, main{
      display: inherit;
      @include align-items(center);
    }

    main{
      @include flex-direction(column);
      @include justify-content(space-evenly);
      height: 100vh;
      max-height:800px;
    }
  }
}

/*
 * Logged in styles
 */

.wrapper#logged-in{
  position: relative;
  z-index:1;
  @include flex-direction(column);
  &:before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index:-100;
    background-image: linear-gradient(
        rgba($blue, 0.65),
        rgba($blue, 0.65)
      ),url('../images/bg1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  main{
    max-height: initial;
    height: auto;
  }
}


/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */
//  main {
//    position: relative;
//    padding-top: 82px;
//  }

 .todo-box {
  border: 2px solid darkgrey;
  margin: 6px;
  padding: 4px;
  position: relative;
  color: white;
  opacity: 0.8;
  width: 800px;
  padding-right: 200px;
  z-index: 0;
  min-height: 95px;
 }

.category {
  position: absolute;
  overflow-wrap: break-word;
  background-color: pink;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin:-2px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
  width: 200px;
  text-align: center;
  font-size: 20px;
 }

.center-me {
  margin: 0 auto;
}

.todo-text {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 15px;
  overflow-wrap: break-word;
  font-size: 20px;
  width: 300px;
}

.todo-box:hover {
  border: 2px solid pink;
  opacity: 1;
 }

.error {
  color: pink;
  font-weight: 700;
  position: relative;
  background-color: #051119;
  bottom: 15px;
  left: 35px;
  width: 90%;
  padding: 10px;
  border-bottom: solid 2px pink;
}

.redlike {
  color: black;
  text-decoration: line-through;
}

.redlike .category {
 background-color: transparentize(pink, 0.8);
}

.api-info {
  margin-left: 20px;
  font-size: 12px;
  margin-top: -15px;
}

.information-about {
  position: fixed;
  font-size: 1vw;
  color: white;
  top: 60px;
  width: 330px;
  background-color: black;
  padding: 30px;
  overflow: scroll;
  height: 100%;
  z-index: -2;
}

.movie-toggle {
position: absolute;
right: -53px;
top: 0px;
}
.book-toggle {
position: absolute;
right: -43px;
top: 22px;
}
.purchase-toggle {
position: absolute;
right: -81px;
top: 44px;
}
.restaurant-toggle {
position: absolute;
right: -100px;
top: 66px;
}

.movie-toggle:hover {
background-color: white;
color: black;
}
.book-toggle:hover {
background-color: white;
color: black;
}
.purchase-toggle:hover {
background-color: white;
color: black;
}
.restaurant-toggle:hover {
background-color: white;
color: black;
}

.selected-cat {
background-color: yellow;
color: black;
}

.container {
  width: 500px;
  position: absolute;
  left: 280px;
}

.deleteIt {
  color: white;
  position: absolute;
  right: 4px;
  top:-2px;
  font-weight: 700;
  font-size: 15px;
}

.hidden {
  visibility: hidden;
}

.shown {
  visibility: visible;
}